
<nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="/">
          <img id="logo" src="../img/evergreen-logo.png" alt="logo">Evergreen
        </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>