<!DOCTYPE html>
<html>
  <head>
    <title>Evergreen</title>

    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

      {{{body}}}

   

      {{!-- {{> footer }} --}}

  </body>
</html>
