
{{!-- <div class="bd-example-row"> --}}

  <div class="bd-example">
    <div class="container box-home">

      <div class="row">
        <div class="col bg1 text-center">
          <br>
          <H2>EXPAND YOUR BASE</H2>
          <p>WITH NEW CONCEPTS</p>
          <a id="" class="btn btn-home btn-xl" href="/explore">EXPLORE</a>
          <br><br>
        </div>
        <div class="col bg2 text-center">
          <br>
          <H2>REFRESH & STRENGTHEN</H2>
          <p>CONCEPTS YOU'VE SEEN BEFORE</p>
          <a class="btn btn-home btn-xl" href="/practice">PRACTICE</a>
          <br><br>
        </div>
      </div>


      <div class="row">
        <div class="col bg5">
          <br>
         <strong><p class="text-center">EVERGREEN HEADLINES</p></strong>
         
         <a link rel="stylesheet" href="https://www.cnet.com/news/nasa-gives-jupiter-the-van-gogh-treatment-with-magnificent-new-image-juno-mission/" target="_blank" class="feed-link"><span class="ev-term">NASA</span> gives <span class="ev-term">Jupiter</span> the <span class="ev-term">Van Gogh</span> treatment with magnificent new image</a><br>

        <a href="http://https://www.bbc.com/news/world-europe-44594003" target="_blank" class="feed-link"><span class="ev-term">Europe</span> <span class="ev-term">migrants</span>: <span class="ev-term">Italy</span> warns <span class="ev-term">Schengen</span> is 'at risk'</a><br>

        <a href="http://https://phys.org/news/2018-06-volcanic-source-major-antarctic-glacier.html" target="_blank" class="feed-link">Researchers discover <span class="ev-term">volcanic</span> heat source under <span class="ev-term">Antarctic</span> <span class="ev-term">glacier</span></a><br>

        <a href="http://https://www.forbes.com/sites/robertglatter/2018/06/25/how-crispr-gene-editing-is-revolutionizing-medicine-and-the-companies-who-invest-in-it/#e0b0b496f461" target="_blank" class="feed-link">How <span class="ev-term">CRISPR</span> <span class="ev-term">Gene</span> Editing Is Revolutionizing Medicine</a><br>

        <br>
        </div>
        <div class="col bg5 text-center">
          <br>
         <strong><p class="text-center">YOUR PROGRESS</p></strong>
      
          <br><br>
        </div>
      </div>


      <div class="row">
        <div class="col bg4 text-center">
          <BR>
          <h5>CUSTOMIZE YOUR LEARNING</h5>
          <a id="" class="btn btn-home-sm btn-sm" href="/settings">SETTINGS</a>
          <br><br>
        </div>
        <div class="col bg6 text-center">
          <br>
          <h5>SEE YOUR PROGRESS</h5>
          <a id="" class="btn btn-home-sm btn-sm" href="/progress">PROGRESS</a>
          <br><br>
        </div>  
        <div class="col bg1 text-center">
          <br>
          <h5>UPDATE YOUR PROFILE</h5>
          <a id="" class="btn btn-home-sm btn-sm" href="/profile/{{ username }}">PROFILE</a>
          <br><br>
        </div>
      </div>

    </div>
  {{!-- </div> --}}
</div>

