<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Evergreen Home</title>
  </head>
  <body>
    
    <audio id="click"><source src="/audio/click.mp3" type="audio/mpeg" /></audio>
    <audio id="buzzer"><source src="/audio/buzzer.mp3" type="audio/mpeg" /></audio>
    <audio id="correct"><source src="/audio/correct.mp3" type="audio/mpeg" /></audio>
    <audio id="wrong"><source src="/audio/wrong.mp3" type="audio/mpeg" /></audio>
    
  
    
    <section id="home-menu">
      <div class="container text-center">
        
        <div class="row">
          <div class="col-md-12 mx-auto">
            <h2>Welcome to Evergreen</h2>
            <hr class="home-divider">
          </div>
        </div>
        
        
        
        <div class="row">
          <div class="col-md-12 mx-auto">
            <br>
            <a id="flash-cards-btn" class="btn btn-success btn-xl game-btn"  href="#">SELF CHECK</a>
            <a id="quiz-btn" class="btn btn-success btn-xl game-btn" href="#">QUIZ</a>
            <a id="game-btn" class="btn btn-success btn-xl game-btn" href="#">TIMED QUIZ</a>
          </div>
        </div>
        
        <br>

        
        <div class="row justify-content-center">
          <!-- LEFT SIDE -->  
           
          {{!-- <div class="col-md-3 col-sm-6">  
            <h5 class="home-section">Currently Practicing <i class="fas fa-angle-down"></i></h5>
            <div class="card cat-card mx-auto" style="width: 9rem;"><img class="card-img-top" src="../img/categories/cat_proverbs.jpg" alt="Card image cap"><div class="card-body"><h6 class="card-title">Proverbs</h6><p class="card-text"><strong><span id="score"></span></strong> %</p></div></div>
          </div> --}}



          <div class="form-group">
          <label for="exampleFormControlSelect1"><h5>Currently Practicing</h5></label>
            <select class="form-control" name="currentlyPracticing" id="currentlyPracticing">
              <option value="Sayings">Sayings</option>
              <option value="Business & Economics">Business & Economics</option>
            </select>
            <br>
            Score: <strong><span id="category-score"></span></strong>%
          </div>




          
          <!-- CENTER -->
          {{!-- <div class="col-md-3 col-sm-6">
            <h5 class="home-section">Level</h5>
            <br>
            <img src="../img/level-1-icon.png" alt="" width="120">
          </div> --}}

          <div class="col-md-3 col-sm-6">
            <h5 class="home-section">Overall Score</h5>
            <br>
            <strong><span id="overall-score"></span></strong>%
          </div>

          
          <!-- RIGHT SIDE -->
          <div class="col-md-12 col-lg-3">
            <h5 class="home-section">Achievements</h5>
            <img src="../img/acheivements.png" alt="" width="200">
          </div>
          
        </div>
        
        
        <hr class="home-divider">
      
        <div class="row">
           
          <div class="col-lg-12 text-center">
            <br><br>
            <!-- <img id="logo-large" src="../img/evergreen-logo.png" alt="logo"> -->
            <h4 class="section-heading">Browse Evergreen Topics</h4>
            <hr class="green-dash">
            <p class="text-faded mb-5">We process thousands of sources to identify knowledge that is durable and connected.</p>
          </div>
        </div>
        
        <!-- INJECTION OF CARDS -->
        <!-- <div class="card-group"> -->
          <div id="cat-cards"></div>
          <!-- </div> -->
          
        </div>
      </section>
      
      <!--
        GAME SECTION ################################################################
      -->
      <section id="game" class="d-none">
        
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-right">
              <h2><span id="game-score">0</span><span id="game-clock">:30</span></h2>
            </div>
            <div class="col-md-4 text-right">
              <a id="game-close-btn" class="btn btn-outline-secondary btn-sm" href="#">Close</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto">
            <br>
            <div class="progress" style="height:10px"></div>
            <br>
            <div class="question"></div><hr>
            
            <div class="g-answer">
              <div id="game-answer-box1" class="game-answer">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="game-answer" id="game-answer1" value="option1">
                  <label class="form-check-label" for="game-answer1">
                    
                    &nbsp; 1. <span id="g-answer1"></span>
                    
                  </label>
                </div>
              </div>
              
              <div id="game-answer-box2" class="game-answer">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="game-answer" id="game-answer2" value="option2">
                  <label class="form-check-label" for="game-answer2">
                    
                    &nbsp; 2. <span id="g-answer2"></span>
                    
                  </label>
                </div>
              </div>
              
              <div id="game-answer-box3" class="game-answer">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="game-answer" id="game-answer3" value="option3">
                  <label class="form-check-label" for="game-answer3">
                    &nbsp; 3.  <span id="g-answer3"></span>
                  </label>
                </div>
              </div>
              
              <div id="game-answer-box4" class="game-answer">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="game-answer" id="game-answer4" value="option4">
                  <label class="form-check-label" for="game-answer4">
                    &nbsp; 4.  <span id="g-answer4"></span>
                  </label>
                </div>
              </div>
            </div>
            
            <br>
            <div class="text-center">
              <a id="game-start-btn" class="btn btn-outline-success btn-xl game-btn" href="#">Start Game</a>
              <a id="game-skip-btn" class="btn btn-outline-warning btn-xl game-btn d-none" href="#">Skip Question</a>
              <a id="game-check-btn" class="btn btn-outline-success btn-xl game-btn d-none" href="#">Check Answer</a>
            </div>
            
            
            <div class="row">
              <div class="col-md-6 mx-auto">
                
                <div class="correct d-none text-center">
                  <i class="fas fa-check-circle fa-4x"></i>
                </div>
                <div class="incorrect d-none text-center">
                  <i class="fas fa-times-circle fa-4x"></i>
                </div>
                
              </div> 
              <div class="col-md-6 mx-auto">
                <a id="continue-game-btn" class="btn btn-outline-success btn-xl game-btn d-none"  href="#">Continue</a><br>
                <a class="continue-btn btn btn-outline-success btn-xl game-btn d-none"  href="#">Continue</a><br>
              </div>
            </div>
            
          </div>
          
        </div>
      </section>
      
      
      
      
      
      <!--
        QUIZ SECTION ################################################################
      -->
      <section id="quiz" class="d-none">
        <br><br>
        <div class="container">
          <div class="row">
            <div class="col-md-9 text-right">
              <a id="quiz-close-btn" class="btn btn-outline-secondary btn-sm" href="#">Close</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto">
              <br>
              <div class="progress" style="height:10px"></div>
              <br>
              <div class="question"></div><hr>
              
              <div class="answer">
                <div id="answer-box1" class="quiz-answer">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="quiz-answer" id="quiz-answer1" value="option1">
                    <label class="form-check-label" for="quiz-answer1">
                      
                      &nbsp; 1. <span id="answer1"></span>
                      
                    </label>
                  </div>
                </div>
                
                <div id="answer-box2" class="quiz-answer">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="quiz-answer" id="quiz-answer2" value="option2">
                    <label class="form-check-label" for="quiz-answer2">
                      
                      &nbsp; 2. <span id="answer2"></span>
                      
                    </label>
                  </div>
                </div>
                
                <div id="answer-box3" class="quiz-answer">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="quiz-answer" id="quiz-answer3" value="option3">
                    <label class="form-check-label" for="quiz-answer3">
                      &nbsp; 3.  <span id="answer3"></span>
                    </label>
                  </div>
                </div>
                
                <div id="answer-box4" class="quiz-answer">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="quiz-answer" id="quiz-answer4" value="option4">
                    <label class="form-check-label" for="quiz-answer4">
                      &nbsp; 4.  <span id="answer4"></span>
                    </label>
                  </div>
                </div>
              </div>
              
              <br>
              <div class="text-center">
                <a id="check-answer-btn" class="btn btn-outline-success btn-xl game-btn disabled" href="#">Check Answer</a>
              </div>
              
              
              <div class="row">
                <div class="col-md-6 mx-auto">
                  
                  <div class="correct d-none text-center">
                    <i class="fas fa-check-circle fa-4x"></i>
                  </div>
                  <div class="incorrect d-none text-center">
                    <i class="fas fa-times-circle fa-4x"></i>
                  </div>
                  
                </div> 
                <div class="col-md-6 mx-auto">
                  <a id="continue-quiz-btn" class="btn btn-outline-success btn-xl game-btn d-none"  href="#">Continue</a><br>
                  <a class="continue-btn btn btn-outline-success btn-xl game-btn d-none"  href="#">Continue</a><br>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </section>
      
      
      <!--
        FLASH CARDS SECTION ############################################################
      -->
      <section id="flash-cards" class="d-none">
        <br><br>
        <div class="container">
          <div class="row">
            <div class="col-md-9 text-right">
              <a id="close-btn" class="btn btn-outline-secondary btn-sm" href="#">Close</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto">
              <br>
              <div class="progress" style="height:10px"></div>
              <br>
              <div class="question"></div><hr>
              <div class="answer"></div>
              <div class="reveal-btn text-center">
                <a id="show-answer-btn" class="btn btn-outline-success btn-xl game-btn d-none" href="#">Show Answer</a>
              </div>
              
              <div class="check-btn text-center">
                <a id="wrong-btn" class="btn btn-outline-danger btn-xl game-btn" href="#">Not Quite</a>
                <a id="correct-btn" class="btn btn-outline-success btn-xl game-btn" href="#">Correct</a>
              </div>
              <a class="continue-btn btn btn-outline-success btn-xl game-btn d-none"  href="#">Continue</a><br>
              
            </div>
          </div>
        </div>
      </section>
      
      <script src='/js/practice.js'></script>
      
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
      <script id="dictionary_data" type="text/javascript">{{{dictionary}}}</script>
      <script id="username_data" type="text/javascript">"{{{username}}}"</script>
      <script id="userk_data" type="text/javascript">{{{userk}}}</script>


    </body>
    </html>
    
    