
<br><br>

<div class="text-center">


<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/quiz/geo">
      <div class="feature-box-active">
      <i class="fa fa-globe fa-8x"></i>
      <br><br>
      <h4>GEO QUIZ</h4>
      </div>
      </a>
    </div>
  </div>

  {{!-- <div class="row">
    <div class="col-sm">
      <a href="/explore">
      <div class="feature-box-beta">
      <i class="fa fa-forward fa-2x"></i>
      <br>
      <h6>QUICKSCAN</h6>
      </div>
      </a>
    </div>
    <div class="col-sm">
      <a href="/practice">
      <div class="feature-box-beta">
      <i class="fa fa-book fa-2x"></i>
      <br>
      <h6>PRACTICE</h6>
      </div>
      </a>
    </div>
  </div> --}}




</div>


<br><br><br>

<br><br>
<div class="text-center footer-text">
these features are in beta:&nbsp; <a href="/explore">quickscan</a>
&nbsp;
<a href="/practice">practice</a>
</div>

</div>