
<br><br>


<a href="/quiz/geo">
<div class="text-center feature-box">
<i class="fa fa-globe fa-8x"></i>
<br><br>
<h4>GEO QUIZ</h4>
</div>
</a>
</div>

<br><br><hr><br>

<div class="text-center">
<a href="/explore">QuickScan</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/practice">Practice</a>
</div>