<div class="container">

  <h1>New Project</h1>

  {{#if username }}
  Logged in as: <strong>{{ username  }}</strong> | <a href="/logout">Logout</a>
  {{else}}
  <a href="/signup">Signup</a> | <a href="/login">Login</a>
  {{/if}}

  <br><br><br>

  See README for notes on usage.

</div>