<div class="container">

  <h1>New Project</h1>

  {{#if username }}
  Logged in as: <strong>{{ username  }}</strong> | <a href="/logout">Logout</a>
  {{else}}
  <a href="/signup">Signup</a> | <a href="/login">Login</a>
  {{/if}}

  <br><br><br>

  To Use:
  <ul>
    <li>Fork, clone, cd new-project, npm install</li>
    <li>Give Mongo DBNAME in .env</li>
    <li>jQuery, Bootstrap CDNs are included by default in layout.hbs</li>
    <li>Modify or remove navbar & footer partials</li>
  </ul>

</div>