<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  </head>
  <body>
    
    
    <!-- BEGIN DUMMY SETTINGS -->
    
    <div class="container" align="left">
      <hr>
      <p><em>Features that are currently not selectable will be available in the future.</em></p>
    </div>
    
    
    <div class="container" align="left">
      <div class="row">
        <div class="col">
          <form>
            <h4>Edition</h4>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Edition" id="Edition" value="Global" checked>
                Global
              </label>
            </div>
            
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Edition" id="Edition" value="U.S." disabled>
                U.S.
              </label>
            </div>
            
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Edition" id="Edition" value="Europe" disabled>
                Europe
              </label>
            </div>
          </form>
        </div>  <!-- col -->
        
        <div class="col">
          <form>
            <h4>Profile</h4>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="Profile" value="Learner" checked>
                Student or Learner
              </label>
            </div>
            
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="Profile" value="Coach" disabled>
                Teacher, Parent or Coach
              </label>
            </div>
            
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="Profile" value="School" disabled>
                School, District or Organization
              </label>
            </div>
          </form>
        </div>  <!-- col -->
        
        
        <div class="col">
          <form>
            <h4>Goals</h4>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="Profile" value="School" checked>
                General Knowlege
              </label>
            </div>
            
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="Profile" value="Learner">
                Cultural Literacy
              </label>
            </div>
            
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="Profile" value="Coach">
                Global Awareness
              </label>
            </div>
            
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="Profile" value="School">
                Academic
              </label>
            </div>
            
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="Profile" value="School">
                Professional
              </label>
            </div>
            
          </form>
        </div>  <!-- col -->
        
        
        <div class="col">
          <form>
            <h4>Level</h4>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Edition" id="" value="Global" checked>
                Start with the basics
              </label>
            </div>
            
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Edition" id="" value="U.S." disabled>
                Mix in harder topics
              </label>
            </div>
            
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Edition" id="" value="Europe" disabled>
                Throw me in the deep end
              </label>
            </div>
          </form>
        </div>  <!-- col -->
      </div> <!-- container for table -->
      
      <hr>
      
      <div class="container" align="left">
        <p><em>For broad general knoweldge, we recommend leaving all areas checked.  If you don't want to learn about a particular area, uncheck it here.  You can change these settings at any time.</em></p>
      </div>
      
      <div class="container" align="left">
        <div class="row">
          <div class="col">
            <form>
              <h4>Writings</h4>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Philosophy" >
                  Philosophy
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Religion" >
                  Religion
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Literature" >
                  Literature
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Language" >
                  Language
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Mythology" >
                  Mythology
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Folklore" >
                  Folklore
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Proverbs" checked >
                  Proverbs
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Idioms" >
                  Idioms
                </label>
              </div>
            </form>
          </div>
          
          
          
          <div class="col">
            <form>
              <h4>Arts</h4>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Classical Music" >
                  Classical Music
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Fine Arts" >
                  Fine Arts
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Performing Arts" >
                  Performing Arts
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Popular Music" >
                  Popular Music
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Film and Television" >
                  Film and Television
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Sport" >
                  Sport
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Games" >
                  Games
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Fashion" >
                  Fashion
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Food" >
                  Food
                </label>
              </div>
            </form>
          </div>
          
          
          <div class="col">
            <form>
              <h4>World</h4>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Pre-modern History (before 1500)" >
                  Pre-modern History
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Modern History (1500-1900)" >
                  Modern History
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Contemportary History (since 1900)" >
                  Contemporary History
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Politics" >
                  Politics
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Geography" >
                  Geography
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Business and Economics" >
                  Business and Economics
                </label>
              </div>
            </form>
          </div>
          
          
          
          <div class="col">
            <form>
              <h4>Science</h4>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Physical Sciences" >
                  Physical Sciences
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Social Sciences" >
                  Social Sciences
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Earth Sciences" >
                  Earth Sciences
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Life Sciences" >
                  Life Sciences
                  
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Medicine and Health" >
                  Medicine and Health
                </label>
              </div>
              
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Technology" >
                  Technology
                </label>
              </div>
            </form>
          </div>  <!-- col -->
          
        </div> <!-- row -->
      </div> <!-- container for table -->
      
  
      
      <!-- END DUMMY SETTINGS -->
      
      
    </div>
    
  </body>
  </html>